body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0 16px;
}
article {
  column-width: 40em;
}
.drop-cap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.pers-name {
  color: orange;
}
.place-name {
  color: green;
}
.pn {
  font-weight: bold;
  color: silver;
}
.cn {
  font-weight: bold;
  color: silver;
}
.ln {
  color: silver;
  font-size: 90%;
}
.nr {
  color: #02c9bc;
}
.date {
}
.name {
}
.ex {
  font-style: italic;
}
.super {
  position: relative;
  top: -0.5em;
  font-size: 80%;
}
.blue-ink {
  color: blue;
}
.red-ink {
  color: red;
}
div.pn a {
  text-decoration: none;
  color: silver;
  padding: 2px;
  margin: 0 4px;
  border: 1px solid silver;
}
