<nav class="container grid-xl navbar">
  <div class="flex-vertical-center hide-sm">
    <a style="width: 20%;" href="{{ site.baseurl }}/" class="logo">
      <img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}"/>
    </a>
  </div>
  <div class="text-center show-sm">
    <a style="width: 100%;" href="{{ site.baseurl }}/" class="logo flex-centered">
      <img style="max-width: 150px;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}"/>
    </a>
  </div>
  <ul class="main-nav">

    {% for category in site.data.category_list %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      {% assign page_category = site.data.category_list[category_name] %}
      <li class="mx-4">
        <a  class="nav-links" href="{{ site.baseurl }}/{{ category_name | slugify }}">{{ page_category.name }}</a>
      </li>
    {% endfor %}

    <li>
      <a href="{{ site.nav_button_link }}" style="height: auto;" class="btn btn-lg btn-outline py-2">{{ site.nav_button }}</a>
    </li>
  </ul>
</nav>
