---
layout: default
title: Home
---
  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center"><p class="text-secondary color" style="text-align: justify;">It was with great disappointment that we had to cancel the first <em>Venice Summer School in Digital and Public Humanities</em> due to the coronavirus emergency. Nevertheless, we are now happy to announce the first Venice Virtual Summer Camp in Digital and Public Humanities to take place from <strong>6 - 10 July 2020</strong>.</p>
          <p class="text-secondary color" style="text-align: justify;">The original programme has been transformed and adapted to the online modality and the circumstances of the Covid-19 pandemic. As a positive side effect, a large number of seminars and presentations can now be offered as open events. The training sessions, which include activities and feedback, are restricted to the successful applicants of the originally planned Summer School in Venice and therefore are not accessible anymore. All the other events, however, are open to everyone without registration and without number limitation. The links and the instructions to access the virtual rooms will be published in this website shortly before the beginning of the event.</p>

          <p class="text-secondary color" style="text-align: justify;">The Virtual Summer Camp is entirely free of charge. </p>
          <p class="text-secondary color" style="text-align: justify;">The virtual summer camp is organised by the <a href="https://www.unive.it/vedph">Venice Centre for Digital and Public Humanities</a> and includes four different thematic strands: <em>Digital Textual Scholarship</em>, <em>Digital and Public History Digital</em> and <em>Public Art History</em>, and <em>Digital Archaeology and its Public</em>.</p>
          </div>
          {% for category in site.data.category_list %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          {% assign page_category = site.data.category_list[category_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ page_category.name }}</h5>

                </div>
              </div>
            </a>
          </div>
          {% endfor %}

          {% include browse-materials.html %}
        </div>
      </div>
    </div>
